name: Build and Push Matomo

on:
  push:
    branches:
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Matomo image
        run: |
          docker build \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/matomo-custom:latest \
            docker/matomo

      - name: Push Matomo image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/matomo-custom:latest
